/**
 * Hoja de estilo reemplazando el tema por defecto de giscus.
 * Debido al horrible diseño del tema original, basado a medias en clases
 * utilitarias, me veo obligado a ignorar especifidad con !important
 */

body {
    /******************************************************************************/
    /*                               COLOR PALETTES                               */
    /******************************************************************************/
    --color-warning-light: rgb(252, 255, 192);
    --color-warning: rgb(232, 240, 107);

    --color-primary-lightest: hsl(175, 37%, 95%);
    --color-primary-lighter: hsl(175, 35%, 85%);
    --color-primary-light: hsl(175, 34%, 73%);
    --color-primary: hsl(175, 34%, 63%);
    --color-primary-dark: hsl(175, 38%, 45%);
    --color-primary-darker: hsl(175, 38%, 25%);
    --color-primary-darkest: hsl(175, 38%, 12%);

    --color-second-lightest: hsl(15, 75%, 95%);
    --color-second-lighter: hsl(15, 70%, 85%);
    --color-second-light: hsl(15, 66%, 73%);
    --color-second: hsl(15, 66%, 63%);
    --color-second-dark: hsl(15, 66%, 45%);
    --color-second-darker: hsl(15, 66%, 25%);
    --color-second-darkest: hsl(15, 66%, 12%);

    --color-third-lighter: hsl(240, 50%, 95%);
    --color-third-lighter: hsl(240, 35%, 80%);
    --color-third-light: hsl(240, 30%, 70%);
    --color-third: hsl(240, 28%, 55%);
    --color-third-dark: hsl(240, 28%, 35%);
    --color-third-darker: hsl(240, 28%, 25%);
    --color-third-darkest: hsl(240, 28%, 15%);

    --color-background-a90: hsla(240, 17%, 34%, 0.9);
    --color-background: hsl(240, 17%, 34%);
    --color-background-dark: hsl(240, 15%, 22%);
    --color-background-darky: hsl(240, 14%, 19%);
    --color-background-darker: hsl(240, 12%, 15%);
    --color-background-darkest: hsl(240, 12%, 10%);

    --color-background-darkest-a75: hsla(240, 12%, 5%, 0.75);


    --color-shadow: #151515;
    --color-shadow-a80: hsla(0, 0%, 8%, 0.8);

    --hue-rotation: 0deg;

    /******************************************************************************/
    /*                                CUSTOM UNITS                                */
    /*                     This is useful for quick fine tuning.                  */
    /*       Dark themes usually require more active space than light ones.       */
    /******************************************************************************/
    --max-font-size: 2rem;
    --big-font-size: 1.5rem;
    --1_25x-font-size: 1.25rem;
    --font-size: 1rem;
    --small-font-size: 0.66rem;
    --min-font-size: 0.33rem;

    --space: 1rem;
    --h-space: calc(var(--space) / 2);
    --q-space: calc(var(--space) / 4);
    --d-space: calc(var(--space) / 10);
    --x1_5-space: calc(var(--space) * 1.5);
    --x2-space: calc(var(--space) * 2);
    --x3-space: calc(var(--space) * 3);
    --x4-space: calc(var(--space) * 4);

    --em-space: 1em;
    --h-em-space: calc(var(--em-space) / 2);
    --q-em-space: calc(var(--em-space) / 4);
    --d-em-space: calc(var(--em-space) / 10);
    --x1_5-em-space: calc(var(--em-space) * 1.5);
    --x2-em-space: calc(var(--em-space) * 2);
    --x3-em-space: calc(var(--em-space) * 3);
    --x4-em-space: calc(var(--em-space) * 4);

    --border-size: 0.125rem;
    --h-border-size: calc(var(--border-size) / 2);
    --x2-border-size: calc(var(--border-size) * 2);
    --em-border-size: 0.125em;
    --h-em-border-size: calc(var(--em-border-size) / 2);
    --x2-em-border-size: calc(var(--em-border-size) * 2);

    --border-radius: 0.25rem;
    --h-border-radius: calc(var(--border-radius) / 2);
    --x2--border-radius: calc(var(--border-radius) * 2);
}

body {
    /******************************************************************************/
    /*                               COLOR SELECTION                              */
    /******************************************************************************/
    --color-font-primary  : var(--color-primary-lighter);

    --color-emphasis: var(--color-second);
    --color-border-1: var(--color-primary);
    --color-border-2: var(--color-second);

    --default-box-shadow: 0.15rem 0.15rem 0 var(--color-shadow);
    --color-heading: var(--color-second);

    --color-bg-primary-1: var(--color-background-darky);
    --color-bg-primary-2: var(--color-background-darker);

    --color-link: var(--color-second-light);
    --color-link-visited: var(--color-second-light);

    --color-title: var(--color-second);

    --color-box-border-info: var(--color-border-2);
    --color-border-default: var(--color-border-2);
    --color-input-border: var(--color-border-2);
    --color-bg-overlay: var(--color-bg-primary-1);
}

html, body {
    color: var(--color-font-primary);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body * {
    
    border-color: var(--color-border-2);
}


p {
    opacity: 0.87;
}
.gsc-comment-author > div:nth-child(3),
.gsc-reply-author > div:nth-child(3) {
    color: var(--color-second);
}

.gsc-comment > div {
    border-width: 0 !important;
}
.gsc-replies,
.gsc-reply-box {
    border-top-width: 0;
}
.gsc-reply-box {
    padding: var(--space);
}
.gsc-comment-content,
.gsc-reply-content {
    font-size: 16px;
    font-weight: 350;
}

.gsc-comment-content p,
.gsc-reply-content p {
    line-height: var(--x1_5-em-space);
    letter-spacing: 0.1ch;
}
.gsc-comment-author-avatar,
.gsc-reply-author a,
.link-secondary {
    color: var(--color-title);
    text-decoration: none;
}

.gsc-comment,
.gsc-reply {
    padding: var(--h-space) 0;
}

.gsc-left-header > em {
    display: none;
}

.gsc-reply {
    padding-left: var(--h-space);
    margin-left: var(--x2-space);
    border-left: var(--border-size) solid var(--color-border-2);
}
.gsc-comment {
    background: var(--color-bg-primary-1);
    box-shadow: var(--default-box-shadow);
    margin-bottom: 0;
    margin-top: var(--h-space);
}


.gsc-comment-box,
.gsc-comment-box:not(.gsc-comment-box-is-reply) {
    border-width: 0;
}

.btn.BtnGroup-item[aria-selected="true"],
.btn.BtnGroup-item:hover,
.gsc-comment-box-buttons button:hover {
    color: var(--color-emphasis);
    border-color: var(--color-emphasis);
}

.gsc-comment .gsc-comment-box-tabs {
    border-top-width: 0;
}

.gsc-reply:nth-child(odd) {
    background: var(--color-bg-primary-2);
}

.gsc-reply-box > button {
    border-width: 0;
}

.rounded-md {
    border-radius: 0 !important;
}