.advice {
    border: var(--border-size) solid var(--color-warning-light);
    padding: var(--space);
    border-radius: var(--q-space);
    color: var(--color-warning-light);
    text-align: center;
    margin-top: var(--space);
    background: var(--color-warning-transparent);
}

.advice__title {
    color: var(--color-warning);
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;
}