.menu-button {
    position: fixed;
    top: var(--x1_5-space);
    right: var(--x1_5-space);
    z-index: 10;
    width: var(--x3-em-space);
    height: var(--x3-em-space);
    border: none;
    border-radius: 50%;
    border: var(--x2-em-border-size) solid var(--color-second);
    background: var(--color-background-darky);
    animation: spin 20s infinite linear;
}

.menu-button:hover {
    border-color: var(--color-primary);
}

@keyframes spin {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

.menu-button span {
    transition: opacity 0.25s;
    position: absolute;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    border: var(--x2-em-border-size) solid var(--color-second);
}
.menu-button:hover span {
    border-color: var(--color-primary);
}

.menu-button span:nth-child(1) {
    background: var(--color-second);
    top: 17.5%;
    left: 17.5%;
}

.menu-button:hover span:nth-child(1) {
    background: var(--color-primary);
}
.menu-button span:nth-child(2) {
    top: 17.5%;
    right: 17.5%;
}
.menu-button span:nth-child(3) {
    bottom: 17.5%;
    right: 17.5%;
}
.menu-button span:nth-child(4) {
    bottom: 17.5%;
    left: 17.5%;
}

.menu-button--open span {
    opacity: 0;
}

.menu-button--open {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-button--open::before {
    content: '';
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border: var(--border-size) solid var(--color-second);
    animation: absorb 3s infinite linear;
    aspect-ratio: 1 / 1;
}

.menu-button--open:hover::before {
    border-color: var(--color-primary);
}

@keyframes absorb {
    0% { 
        transform: scale(1);
        opacity: 1;
    }
    100% { 
        transform: scale(0);
        opacity: 0.2;
    }
}

.main-nav {
    z-index: 1;
    display: flex;
    flex-flow: column;
    align-self: flex-start;
    padding: var(--h-space);
    width: 100%;
    font-size: var(--1_25x-font-size);
}

.main-header--open .main-nav {
    max-height: 100vh;
    opacity: 1;
}

.main-nav__link,
.main-nav__link:visited {
    font-weight: 400;
    margin-right: var(--h-space);
    padding: var(--h-space) var(--space);
    border-bottom: var(--border-size) dotted var(--color-border-2);
    color: var(--color-second);
}


.main-nav__link::before {
    content: '';
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border-radius: 50%;
    margin-right: var(--q-space);
    border: var(--x2-border-size) solid var(--color-second);
}

.main-nav__link--active::before {
    background: var(--color-second);
}
.main-nav__link--active:focus::before,
.main-nav__link--active:hover::before {
    background: var(--color-primary);
}

.main-nav__link:hover::before {
    border-color: var(--color-primary);
}

.main-nav__link:last-child {
    margin-right: 0;
}

.main-nav__link--active {
    font-weight: bold;
}


.main-nav__link:hover,
.main-nav__link:focus {
    color: var(--color-primary);
    border-bottom-color: var(--color-primary);
    text-decoration: none;
}

@media (min-width: 768px) {
    .menu-button {
        display: none;
    }

    .menu-button--open {
        display: none;
    }

    .main-nav {
        opacity: 1;
        max-height: none;
        display: flex;
        flex-flow: row;
        align-items: flex-end;
        max-width: 900px;
        margin: 0 auto;
        margin-top: var(--h-space);
        padding: 0 1rem;
        background: var(--color-background-dark);
    }

    .main-nav__link,
    .main-nav__link:visited {
        padding: var(--q-space) var(--space) var(--h-space) var(--space);
        border: 0.2rem solid transparent;
        min-width: 12rem;
        text-align: center;
    }
    .main-nav__link:hover {
        border-bottom: 0.4rem solid var(--color-bg-primary-2);
    }

    .main-nav__link--active,
    .main-nav__link--active:visited {
        border-bottom: 0.4rem solid var(--color-bg-primary-2);
    }
    .main-nav__link::before {
        display: none;
    }

    .main-nav {
        justify-content: center;
    }
}


@media (prefers-reduced-motion) {
    .menu-button--open::before,
    .menu-button {
        animation: none;
    }
}



