.page-navigator {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: var(--space);
}

.page-navigator a {
    font-size: var(--big-font-size);
    border-radius: 50%;
    width: var(--em-space);
    height: var(--em-space);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.page-navigator span {
    display: flex;
    align-items: center;
}

.page-navigator__to-next::before,
.page-navigator__to-previous::before,
.page-navigator__to-first::before,
.page-navigator__to-last::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 0.25em solid transparent;
}



.page-navigator__to-first::before {
    border-right: 0.5em solid var(--color-second);
    margin-right: 1em;
}

.page-navigator__to-next:hover::before,
.page-navigator__to-last:hover::before {
    border-left-color: var(--color-second-light);
}

.page-navigator__to-first:hover::before,
.page-navigator__to-previous:hover::before {
    border-right-color: var(--color-second-light);
}

.page-navigator__to-previous::before {
    border-right: 0.5em solid var(--color-second);
    margin-right: 1em;
}

.page-navigator__to-previous  {
    width: 0.7em;
    height: 0.8em;
    text-align-last: right;
    border: 0.2em solid transparent;
    /*border-left: 0.25em solid var(--color-second);*/
}

.page-navigator__to-first {
    width: 0.3em;
    height: 0.6em;
    text-align-last: right;
    border: 0.4em solid transparent;
    border-left: 0.25em solid var(--color-second);
    margin-right: 0.25rem;
}










.page-navigator__to-last::before {
    border-left: 0.5em solid var(--color-second);
    margin-left: 1em;
}

.page-navigator__to-next::before {
    border-left: 0.5em solid var(--color-second);
    margin-left: 1em;
}

.page-navigator__to-next  {
    width: 0.7em;
    height: 0.8em;
    text-align-last: left;
    border: 0.2em solid transparent;
    /*border-right: 0.25em solid var(--color-second);*/
}

.page-navigator__to-last {
    width: 0.3em;
    height: 0.6em;
    text-align-last: left;
    border: 0.4em solid transparent;
    border-right: 0.25em solid var(--color-second);
    margin-left: 0.25rem;
}
